:root {
    --cor-primaria: #0A3871;
    --cor-secundaria: #D8DFE8;
    --cor-fundo: #E5E5E5;
    --cor-texto: #0A3871;
    --cor-botao: #ffffff;

    --fonte-principal: "Inter", sans-serif;

    --tamanho-fonte: 32px;
    --altura-linha: 150%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: var(--cor-fundo);
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: var(--tamanho-fonte);
    line-height: var(--altura-linha);
}

.logoAlura {
    margin-left: 10px;
    padding-top: 10px;
    width: 2%;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area {
    border: none;
    color: var(--cor-texto);
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder {
    color: var(--cor-texto);
}

.text-area:focus {
    outline: none;
}

.mensagem {
    background: var(--cor-botao);
    background-image: url(/img/boneco.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    border-radius: 24px;
    color: var(--cor-texto);
    margin-left: 98px;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Alinha o conteúdo em uma coluna */
    justify-content: space-between; /* Distribui espaço entre o conteúdo e o botão */
    position: relative;
    height: auto; /* Deixe o tamanho ser definido pelo conteúdo */
}

.mensagem.com-texto {
    background-image: none; /* Remove a imagem quando há texto */
}

.mensagem:focus {
    outline: none;
}

.botoes {
    display: flex;
    margin-top: 18px;
}

.btn-desencriptar {
    background: var(--cor-secundaria);
    border: 1px solid var(--cor-texto);
    border-radius: 24px;
    color: var(--cor-texto);
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn-encriptar {
    background-color: var(--cor-texto);
    border: 1px solid var(--cor-texto);
    border-radius: 24px;
    color: var(--cor-botao);
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-copiar {
    border: 1px solid var(--cor-texto);
    border-radius: 24px;
    color: var(--cor-texto);
    cursor: pointer;
    padding: 10px;
    background-color: var(--cor-secundaria);
    align-self: flex-end; /* Alinha o botão à direita dentro da caixa */
    margin-top: 10px; /* Espaçamento superior para separar do conteúdo */
    width: 50%; /* Largura relativa para se ajustar ao tamanho da caixa */
    max-width: 200px; /* Largura máxima para não exceder */
    min-width: 150px; /* Define uma largura mínima */
}

.oculto {
    display: none;
}

.informs {
    color: #495057;
    font-size: 18px;
}

.rodape {
    padding: 24px;
    color: var(--cor-texto);
    background-color: var(--cor-secundaria);
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    font-weight: 400;
}

/* Responsividade */
@media (max-width: 1200px) {
    main {
        margin-left: 0;
    }

    .text-area,
    .mensagem {
        width: 100%;
    }

    .btn-copiar {
        margin-left: 0;
        width: 100%;
    }
}
